<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvMng_InfTech</title>



    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/Animation.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/DataTable.css" rel="stylesheet" asp-append-version="true" />


    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    @*This is just for the Datatable*@
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.6/af-2.6.0/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css" rel="stylesheet" asp-append-version="true">



</head>
<body>

    <style>
        .ui-autocomplete {
            z-index: 1060; /* Set a value higher than the modal's z-index */
        }
    </style>

    <!-- Bootstrap modal for Create/Edit/Delete pages -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>





    @section Scripts{

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


        @*Bootstrap*@
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous" asp-append-version="true"></script>

        @*Main js file Scripts*@
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/notify.min.js" asp-append-version="true"></script>
        <script src="~/js/Animation.js" asp-append-version="true"></script>
        <script src="~/js/Forms.js" asp-append-version="true"></script>



        @*Data Table Scripts*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.6/af-2.6.0/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js" asp-append-version="true"></script>

    }
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
