USE [master]
GO
/****** Object:  Database [SPMS]    Script Date: 23/8/2023 1:12:15 PM ******/
CREATE DATABASE [SPMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SPMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\SPMS.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SPMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\SPMS_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SPMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SPMS]
GO
/****** Object:  Schema [SPMS]    Script Date: 23/8/2023 1:12:15 PM ******/
CREATE SCHEMA [SPMS]
GO
/****** Object:  Table [SPMS].[Access]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPMS].[Access](
	[User lvl] [nvarchar](50) NOT NULL,
	[Inventory] [bit] NOT NULL,
	[Master] [bit] NOT NULL,
	[Log] [bit] NOT NULL,
	[Report] [bit] NOT NULL,
	[Setting] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [SPMS].[Inventory]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPMS].[Inventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PartID] [uniqueidentifier] NULL,
	[Part Number] [nvarchar](50) NULL,
	[Part Name] [nvarchar](50) NULL,
	[Stock New] [int] NULL,
	[Stock Used] [int] NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NULL,
	[Location] [nvarchar](50) NULL,
	[SubLocation] [nvarchar](50) NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SPMS].[LocationMaster]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPMS].[LocationMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Delete] [bit] NULL,
	[Location ID] [uniqueidentifier] NULL,
	[Modified Date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [SPMS].[Log]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SPMS].[Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[PartID] [uniqueidentifier] NULL,
	[PartNumber] [nvarchar](50) NULL,
	[PartName] [nvarchar](50) NULL,
	[SupplierID] [uniqueidentifier] NULL,
	[Supplier] [nvarchar](50) NULL,
	[StockInOut] [varchar](5) NULL,
	[ExistingStockNew] [int] NULL,
	[ExistingStockUsed] [int] NULL,
	[StockNew] [int] NULL,
	[StockUsed] [int] NULL,
	[LocationID] [uniqueidentifier] NULL,
	[Location] [nvarchar](50) NULL,
	[SubLocationID] [uniqueidentifier] NULL,
	[SubLocation] [nvarchar](50) NULL,
	[IssuedBy] [nvarchar](50) NULL,
	[Remark] [nvarchar](100) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SPMS].[PartMaster]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPMS].[PartMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PartID] [uniqueidentifier] NULL,
	[Part Number] [nvarchar](50) NOT NULL,
	[Part Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Min New] [int] NULL,
	[Min Used] [int] NULL,
	[Bin] [nvarchar](50) NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NULL,
 CONSTRAINT [PK_Part Master] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SPMS].[SubLocationMaster]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPMS].[SubLocationMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubLocationID] [uniqueidentifier] NULL,
	[SubLocation] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [SPMS].[SupplyMaster]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPMS].[SupplyMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [uniqueidentifier] NULL,
	[Supplier Name] [nvarchar](50) NOT NULL,
	[Supplier Representative] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[ContactNo] [nchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Postcode] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NULL,
	[Industry] [nvarchar](50) NULL,
	[Delete] [bit] NOT NULL,
	[Modified Date] [datetime] NULL,
 CONSTRAINT [PK_Supply Master] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SPMS].[SupplyPartMaster]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPMS].[SupplyPartMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PartID] [uniqueidentifier] NULL,
	[Part Number] [nvarchar](50) NOT NULL,
	[Part Name] [nvarchar](50) NOT NULL,
	[SupplierID] [uniqueidentifier] NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Remark] [nvarchar](100) NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NULL,
 CONSTRAINT [PK_PartMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SPMS].[UserMaster]    Script Date: 23/8/2023 1:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SPMS].[UserMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User ID] [nvarchar](50) NOT NULL,
	[User Name] [nvarchar](50) NOT NULL,
	[User Level] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [SPMS].[Access] ([User lvl], [Inventory], [Master], [Log], [Report], [Setting]) VALUES (N'Technician', 1, 1, 1, 1, 1)
INSERT [SPMS].[Access] ([User lvl], [Inventory], [Master], [Log], [Report], [Setting]) VALUES (N'Staff', 1, 1, 1, 1, 1)
INSERT [SPMS].[Access] ([User lvl], [Inventory], [Master], [Log], [Report], [Setting]) VALUES (N'Engineer', 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [SPMS].[Inventory] ON 

INSERT [SPMS].[Inventory] ([ID], [PartID], [Part Number], [Part Name], [Stock New], [Stock Used], [Modified Date], [Delete], [Location], [SubLocation]) VALUES (2, N'aa424ce0-ca1f-4b2a-93ef-cafeaf0c87bb', N'P0002', N'Part2', 26, 25, CAST(N'2021-11-10 12:01:59.000' AS DateTime), 0, N'L77', N'SL3')
INSERT [SPMS].[Inventory] ([ID], [PartID], [Part Number], [Part Name], [Stock New], [Stock Used], [Modified Date], [Delete], [Location], [SubLocation]) VALUES (3, N'c0a8a9ec-698a-4b07-9ccd-4be56ec8eea0', N'P0003', N'Part3', 25, 12, CAST(N'2021-11-11 11:03:22.000' AS DateTime), 0, N'L77', N'SL3')
INSERT [SPMS].[Inventory] ([ID], [PartID], [Part Number], [Part Name], [Stock New], [Stock Used], [Modified Date], [Delete], [Location], [SubLocation]) VALUES (4, N'ad431d34-d4e6-45f8-a5d3-41f6badd0b14', N'P0004', N'Part4', 8, 7, CAST(N'2021-11-11 11:03:33.000' AS DateTime), 0, N'L77', N'SL3')
GO
SET IDENTITY_INSERT [SPMS].[Inventory] OFF
SET IDENTITY_INSERT [SPMS].[LocationMaster] ON 

INSERT [SPMS].[LocationMaster] ([ID], [Location], [Description], [Delete], [Location ID], [Modified Date]) VALUES (10, N'L8', N'1', 0, N'b8a4684e-2ab2-427e-bec8-9fa704229cf2', CAST(N'2021-11-10 09:32:58.000' AS DateTime))
INSERT [SPMS].[LocationMaster] ([ID], [Location], [Description], [Delete], [Location ID], [Modified Date]) VALUES (11, N'DRAWER C', N'', 0, N'd7a1b3e5-f48a-4376-a8a3-8817f838434d', CAST(N'2021-11-24 10:07:03.000' AS DateTime))
INSERT [SPMS].[LocationMaster] ([ID], [Location], [Description], [Delete], [Location ID], [Modified Date]) VALUES (12, N'D3', N'', 0, N'8dc6bb3c-8564-4487-8c2d-190bf91b88e1', CAST(N'2021-11-22 11:39:05.000' AS DateTime))
SET IDENTITY_INSERT [SPMS].[LocationMaster] OFF
SET IDENTITY_INSERT [SPMS].[Log] ON 

INSERT [SPMS].[Log] ([ID], [LogDate], [PartID], [PartNumber], [PartName], [SupplierID], [Supplier], [StockInOut], [ExistingStockNew], [ExistingStockUsed], [StockNew], [StockUsed], [LocationID], [Location], [SubLocationID], [SubLocation], [IssuedBy], [Remark]) VALUES (2, CAST(N'2021-04-04 00:00:00.000' AS DateTime), N'aa424ce0-ca1f-4b2a-93ef-cafeaf0c87bb', N'P0002', N'Part2', NULL, N'Supply3', N'In', 10, 10, 5, 0, NULL, NULL, NULL, NULL, N'U0002', NULL)
INSERT [SPMS].[Log] ([ID], [LogDate], [PartID], [PartNumber], [PartName], [SupplierID], [Supplier], [StockInOut], [ExistingStockNew], [ExistingStockUsed], [StockNew], [StockUsed], [LocationID], [Location], [SubLocationID], [SubLocation], [IssuedBy], [Remark]) VALUES (3, CAST(N'2021-01-21 00:00:00.000' AS DateTime), N'9f6eece0-67ff-459e-b8af-2147662a560d', N'P0001', N'part1test', N'c0246668-e602-4bae-995d-a43e310abfcf', N'Supply234   ', N'In', 15, 15, 5, 5, NULL, NULL, NULL, NULL, N' U0001', N'Testing')
INSERT [SPMS].[Log] ([ID], [LogDate], [PartID], [PartNumber], [PartName], [SupplierID], [Supplier], [StockInOut], [ExistingStockNew], [ExistingStockUsed], [StockNew], [StockUsed], [LocationID], [Location], [SubLocationID], [SubLocation], [IssuedBy], [Remark]) VALUES (4, CAST(N'2021-10-20 00:00:00.000' AS DateTime), N'c0a8a9ec-698a-4b07-9ccd-4be56ec8eea0', N'P0003', N'Part3', N'2b7a8efa-6baa-43bc-8760-802f7c59756e', N'Supply2', N'Out', 0, 0, 5, 5, NULL, NULL, NULL, NULL, N'U0004', NULL)
GO
SET IDENTITY_INSERT [SPMS].[Log] OFF
SET IDENTITY_INSERT [SPMS].[PartMaster] ON 

INSERT [SPMS].[PartMaster] ([ID], [PartID], [Part Number], [Part Name], [Description], [Min New], [Min Used], [Bin], [Modified Date], [Delete]) VALUES (1, N'9f6eece0-67ff-459e-b8af-2147662a560d', N'P0001', N'part1test', N'p1desc', 20, 0, N'p1bin', CAST(N'2021-04-21 10:10:49.000' AS DateTime), 1)
INSERT [SPMS].[PartMaster] ([ID], [PartID], [Part Number], [Part Name], [Description], [Min New], [Min Used], [Bin], [Modified Date], [Delete]) VALUES (2, N'aa424ce0-ca1f-4b2a-93ef-cafeaf0c87bb', N'P0002', N'Part2', N'P2TEST', 6, 0, N'P2TEST', CAST(N'2021-12-14 10:06:08.000' AS DateTime), 0)
INSERT [SPMS].[PartMaster] ([ID], [PartID], [Part Number], [Part Name], [Description], [Min New], [Min Used], [Bin], [Modified Date], [Delete]) VALUES (5, N'c0a8a9ec-698a-4b07-9ccd-4be56ec8eea0', N'P0003', N'Part3', N'Part3', 0, 0, N'Part3TEST', CAST(N'2021-02-15 16:39:28.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [SPMS].[PartMaster] OFF
SET IDENTITY_INSERT [SPMS].[SubLocationMaster] ON 

INSERT [SPMS].[SubLocationMaster] ([ID], [SubLocationID], [SubLocation], [Description], [Modified Date], [Delete]) VALUES (1, N'382108d5-96a3-4a45-9018-6e807b10cf9c', N'SL3', N'4', CAST(N'2021-11-09 14:33:43.000' AS DateTime), 0)
INSERT [SPMS].[SubLocationMaster] ([ID], [SubLocationID], [SubLocation], [Description], [Modified Date], [Delete]) VALUES (2, N'4f229bac-2ecf-464b-b8ce-a5d813feebd5', N'SL3', N'2', CAST(N'2021-11-09 14:30:49.000' AS DateTime), 1)
INSERT [SPMS].[SubLocationMaster] ([ID], [SubLocationID], [SubLocation], [Description], [Modified Date], [Delete]) VALUES (3, N'562f2bc4-9690-4610-ab8a-66f52fa76d02', N'SL2', N'2', CAST(N'2021-11-09 14:33:19.000' AS DateTime), 1)
SET IDENTITY_INSERT [SPMS].[SubLocationMaster] OFF
SET IDENTITY_INSERT [SPMS].[SupplyMaster] ON 

INSERT [SPMS].[SupplyMaster] ([ID], [SupplierID], [Supplier Name], [Supplier Representative], [Department], [Position], [ContactNo], [Email], [State], [City], [Postcode], [Address], [Website], [Industry], [Delete], [Modified Date]) VALUES (1, N'c0246668-e602-4bae-995d-a43e310abfcf', N'Supply234   ', N'Supply1', N'', N'', N'2326346             ', N'Supply1@mail.com', N'Johor', N'Skudai', N'81300', N'', N'', N'', 0, CAST(N'2021-04-02 14:44:01.000' AS DateTime))
INSERT [SPMS].[SupplyMaster] ([ID], [SupplierID], [Supplier Name], [Supplier Representative], [Department], [Position], [ContactNo], [Email], [State], [City], [Postcode], [Address], [Website], [Industry], [Delete], [Modified Date]) VALUES (2, N'2b7a8efa-6baa-43bc-8760-802f7c59756e', N'Supply2', N'', N'', N'', N'354657687           ', N'supply2@mail.com', N'Penang', N'Bayan Lepas', N'11900', N'', N'', N'', 0, CAST(N'2021-02-04 00:00:00.000' AS DateTime))
INSERT [SPMS].[SupplyMaster] ([ID], [SupplierID], [Supplier Name], [Supplier Representative], [Department], [Position], [ContactNo], [Email], [State], [City], [Postcode], [Address], [Website], [Industry], [Delete], [Modified Date]) VALUES (3, N'9a504b08-f4eb-4e48-940e-52590d8f3815', N'Supplier3', N'supthree', N'sales', N'executive', N'675432              ', N'sup3@mail.com', N'Kuala Lumpur', N'', N'56000', N'supthree', N'sup3.com', N'Electrical', 0, CAST(N'2021-02-23 09:35:17.000' AS DateTime))
SET IDENTITY_INSERT [SPMS].[SupplyMaster] OFF
SET IDENTITY_INSERT [SPMS].[SupplyPartMaster] ON 

INSERT [SPMS].[SupplyPartMaster] ([ID], [PartID], [Part Number], [Part Name], [SupplierID], [Supplier], [Price], [Remark], [Modified Date], [Delete]) VALUES (1, N'9f6eece0-67ff-459e-b8af-2147662a560d', N'P0001', N'part1test', N'c0246668-e602-4bae-995d-a43e310abfcf', N'Supply234   ', CAST(20.00 AS Decimal(18, 2)), N'', CAST(N'2021-04-02 14:51:54.000' AS DateTime), 0)
INSERT [SPMS].[SupplyPartMaster] ([ID], [PartID], [Part Number], [Part Name], [SupplierID], [Supplier], [Price], [Remark], [Modified Date], [Delete]) VALUES (2, N'aa424ce0-ca1f-4b2a-93ef-cafeaf0c87bb', N'P0002', N'Part2', N'2b7a8efa-6baa-43bc-8760-802f7c59756e', N'Supply2', CAST(14.00 AS Decimal(18, 2)), N'', CAST(N'2021-02-15 16:38:42.000' AS DateTime), 0)
INSERT [SPMS].[SupplyPartMaster] ([ID], [PartID], [Part Number], [Part Name], [SupplierID], [Supplier], [Price], [Remark], [Modified Date], [Delete]) VALUES (3, N'ad431d34-d4e6-45f8-a5d3-41f6badd0b14', N'P0004', N'Part4', N'9a504b08-f4eb-4e48-940e-52590d8f3815', N'Supplier3', CAST(1550.00 AS Decimal(18, 2)), N'', CAST(N'2021-02-16 16:26:12.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [SPMS].[SupplyPartMaster] OFF
GO
SET IDENTITY_INSERT [SPMS].[UserMaster] ON 

INSERT [SPMS].[UserMaster] ([ID], [User ID], [User Name], [User Level], [Password], [Modified Date], [Delete]) VALUES (1, N'U0001', N'gd', N'Engineer', N'9OYR9kUytIsLilKZieD5xg==', CAST(N'2021-02-18 11:58:10.000' AS DateTime), 0)
INSERT [SPMS].[UserMaster] ([ID], [User ID], [User Name], [User Level], [Password], [Modified Date], [Delete]) VALUES (2, N'U0002', N'admin', N'Admin', N'pIbvhgmpVHahDBTYUgQvew==', CAST(N'2021-04-01 11:45:51.000' AS DateTime), 0)
INSERT [SPMS].[UserMaster] ([ID], [User ID], [User Name], [User Level], [Password], [Modified Date], [Delete]) VALUES (3, N'U0003', N'chuah', N'Admin', N'rqvTiDNvXEiaBe8mLVIOkA==', CAST(N'2021-02-08 16:37:24.000' AS DateTime), 0)
SET IDENTITY_INSERT [SPMS].[UserMaster] OFF
USE [master]
GO
