/* Custom styles for DataTables */
.dataTables_wrapper {
    padding-top: 0px;
    padding-bottom: 1px;
}

.dataTables_length, .dataTables_filter {
    padding-bottom: 10px;
}

.dataTables_length select {
    height: 30px; /* Adjust height */
}

.dataTables_filter input {
    height: 10px; /* Adjust height */
}

.dataTables_paginate{
    padding-top: 10px;
    padding-bottom: 0px;
}

.dataTables_info {
    padding-top: 10px;
    padding-bottom: 0px;
}

.dt-buttons {
    height: 10px;
    margin-bottom: 30px;
}



/* Define CSS class to set maximum width for the table */
.max-width-table th,
.max-width-table td {
    min-width: 60px;
    max-width: 80px; /* Set the desired maximum width for th and td */
    white-space: nowrap; /* Prevent wrapping of content */
    overflow: hidden; /* Hide overflowing content */
}

/* Adjust the last column width and prevent ellipsis */
.max-width-table th:last-child,
.max-width-table td:last-child {
    width: 100px; /* Set the width as needed */
    max-width: none; /* Reset the max-width */
    white-space: normal; /* Allow normal wrapping of content */
    text-align: center; /* Align the content to the start of the column */
    padding-left: 0px; /* Set the left padding */
    padding-right: 0px; /* Set the right padding */
}

.max-width-table td:last-child * {
    margin: 0; /* Remove margin */
    padding: 0.05rem; /* Remove padding */
}





/* Style for table header cells */
#myTable thead th {
    /* Background color of header cells */
    /*background-color: #343a40; */

    /* Font color of header text */
    /*color: #ffffff; */
}

/* Style for even rows */
#myTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

/* Style for odd rows */
#myTable tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

/* Hover effect for table rows */
#myTable tbody tr:hover {
    background-color: #cce5ff;
}


/* Centre the Top Header */
.card-header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-spacing {
    margin-right: 5px; /* Adjust the margin for your desired spacing */
}

.button-group-container .colvis-btn {
    width: auto;
    background-color: whitesmoke;
    border: 1px solid #CCC;
    padding: 6px 10px;
    padding-left: 10px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.colvis-btn:hover {
    background-color: #EBEBEB;
}