@model InvMng_InfTech.Models.Masters.InventoryMaster

@{
    ViewData["Title"] = "StockIn";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_ModalViewPartial.cshtml";
}


<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <form>
            <!-- Part Number -->
            <div class="mb-3">
                <label for="partNumber" class="form-label">
                    <i class="fas fa-barcode"></i> Part Number
                </label>
                <input type="text" class="form-control" id="partNumber" name="partNumber">
            </div>
            <!-- Part Name -->
            <div class="mb-3">
                <label for="partName" class="form-label">
                    <i class="fas fa-cube"></i> Part Name
                </label>
                <input type="text" class="form-control" id="partName" name="partName">
            </div>
            <!-- Location -->
            <div class="mb-3">
                <label for="location" class="form-label">
                    <i class="fas fa-map-marker-alt"></i> Location
                </label>
                <input type="text" class="form-control" id="location" name="location">
            </div>
            <!-- SubLocation -->
            <div class="mb-3">
                <label for="subLocation" class="form-label">
                    <i class="fas fa-map-pin"></i> SubLocation
                </label>
                <input type="text" class="form-control" id="subLocation" name="subLocation">
            </div>
            <!-- Stock In/Out -->
            <div class="mb-3">
                <label for="stockInOut" class="form-label">
                    <i class="fas fa-dolly"></i> Stock In/Out
                </label>
                <input type="text" class="form-control" id="stockInOut" name="stockInOut">
            </div>
            <!-- Supplier -->
            <div class="mb-3">
                <label for="supplier" class="form-label">
                    <i class="fas fa-truck"></i> Supplier
                </label>
                <input type="text" class="form-control" id="supplier" name="supplier">
            </div>
            <!-- Remark -->
            <div class="mb-3">
                <label for="remark" class="form-label">
                    <i class="fas fa-comment"></i> Remark
                </label>
                <textarea class="form-control" id="remark" name="remark"></textarea>
            </div>
        </form>
    </div>
</div>